<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de Clientes</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombres</th>
          <th>apellidos</th>
          <th>ubicación</th>
          <th>email</th>
          <th>celuar</th>
          <th>fecha de registro</th>
          <th>opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes;">
          <td><a class="text-decoration-none" [routerLink]="['/cliente', cliente.id]">{{ cliente.id }}</a></td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.ciudad + ' - ' + cliente.pais }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.celular }}</td>
          <td>{{ cliente.createAt | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
          <td><a class="btn btn-sm btn-success" [routerLink]="['/pedidos/cliente/', cliente.id]">Ver Pedidos</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
